@model IEnumerable<Record>


@{
    ViewData["Title"] = "Record";
}

@* Ajout de la discipline et sa description et du record *@

@foreach (var item in Model)
{
    <tr>
        <td>

            @Html.DisplayFor(modelItem => item.Performance)

        </td>
    </tr>
}

@* <h2>@Html.DisplayFor(model => model.Performance)</h2>
    <p class="description">
    @Html.DisplayFor(model => model.DisciplineId)
    </p> *@
@* <input type="hidden" asp-for="SportId" /> *@


@*

    Sport/Record/3
    200mètre

*@

@* Ajout de la discipline et sa description *@

<tbody>
    <dl class="row">
        @* <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Performance)
            </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Performance)
            </dd> *@

        @* Il faut aller chercher le record et l'athlète mais je sais pas comment vu qu'on est dans discipline donc il
            veut pas *@

    </dl>
</tbody>