@model IEnumerable<Record>


@{
    ViewData["Title"] = "Record";
}

<h2>@ViewData["nomDiscipline"]</h2>
<p> @ViewData["descrDiscipline"]</p>

<h2> Les records: </h2>

<table class="table">
    @foreach (var item in Model)
    {
        if (item.Athlete.Gender == 'F')
        {
            <thead>
                <tr>
                    <th>
                        Record féminin
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    Le record féminin est de @item.Performance. Il est détenu par <a asp-controller="Athlete"
                asp-action="Index"> @item.Athlete.FirstName
                        @item.Athlete.LastName </a> et a été établi le @item.Date.ToString().Split(new char[] {' '})[0] à
                    @item.Location.
                </td>
            </tr>
        }

        if (item.Athlete.Gender == 'H')
        {
            <thead>
                <tr>
                    <th>
                        Record masculin
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    Le record masculin est de @item.Performance. Il est détenu par <a asp-controller="Athlete"
                asp-action="Index"> @item.Athlete.FirstName
                        @item.Athlete.LastName </a> et a été établi le @item.Date.ToString().Split(new char[] {' '})[0] à
                    @item.Location.
                </td>
            </tr>
        }
    }

    @if (Model.Count() == 0)
    {
        <p> Il n'y a pas encore de record enregistré sur le site pour cette discipline.</p>
    }


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>


@* <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Performance)
    </td>
    <td>@Html.DisplayFor(modelItem => item.Athlete.FirstName)
    @Html.DisplayFor(modelItem => item.Athlete.LastName)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Date.ToString().Split(new char[] {' '})[0])
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Location)
    </td>
    </tr> *@


@if (Model == null)
{
    <p> Il n'y a pas de record enregistré</p>
}

@* <h2>@Html.DisplayFor(model => model.Performance)</h2>
    <p class="description">
    @Html.DisplayFor(model => model.DisciplineId)
    </p> *@
@* <input type="hidden" asp-for="SportId" /> *@


@*

    Sport/Record/3
    200mètre

*@

@* Ajout de la discipline et sa description *@

<tbody>
    <dl class="row">
        @* <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Performance)
            </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Performance)
            </dd> *@

        @* Il faut aller chercher le record et l'athlète mais je sais pas comment vu qu'on est dans discipline donc il
            veut pas *@

    </dl>
</tbody>